
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="user/style/home.css">
  <title>userhome</title>
</head>

<body>
    <div class="container my-5">
        <div class="row">
        <div class="col-9">
       
            <a class="text-dark me-5" href="/blog">For You</a>
        <a class="text-dark me-5" href="/blog">Following</a>
        <button class="btn btn-dark" onclick="logout()">Log out</button>
        <a href="/uploads" ><button class="btn btn-dark">Create your blog</button></a>
      </div>
      <div class="col-3 d-flex flex-column justify-content-center align-items-center">
       <h4 class="text-uppercase">{{userDetails.name}}</h4>
      </div>
    </div>
    </div>
<div class="container">
  <div  class="col-md-12 d-flex flex-column justify-content-center align-items-center">
    {{#each data}}
<section>
  <div class="card my-5" style="width:70vw;height:30vh;">
  <div class="row g-0">
    <div class="col-md-4">
      <a href="/detailedview?id={{this._id}}"><img src="/uploads/{{this.images.[0].filename}}" class="img-fluid rounded-start w-75 " style="height:30vh;" alt="..."></a>
    </div>
    <div class="col-md-4" style="width:40vw;">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <small class="card-text lh-1"> {{this.content}}</small>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago{{this.date}}</small></p>
      </div>
    </div>
  </div>
</div>
</section>
 {{/each}}
 <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="/user/script/form.js"></script>
</body>

</html>