<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="user/style/home.css">
<script src="https://kit.fontawesome.com/b2a03b7303.js" crossorigin="anonymous"></script>
  <title>userhome</title>
</head>

<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img  class="img-fluid " src="assets/new.png" alt="" width="100px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-bolder" aria-current="page" href="/home" style="color: #FF8000;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder" href="/blog?page=1&&limit=5" style="color: #FF8000;">For You</a>
        </li>
        <li class="nav-item dropdown">
          <a style="color: #FF8000;" class="nav-link dropdown-toggle fw-bolder" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Recommended Topics
          </a>
         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/category?category=Travel">Travel</a></li>
    <li><a class="dropdown-item" href="/category?category=Technology">Technology</a></li>
       <li><a class="dropdown-item" href="/category?category=Business">Business</a></li> 
    <li><a class="dropdown-item" href="/category?category=Web Design">Web Design</a></li>
        <li><a class="dropdown-item" href="/category?category=Health care">Health care</a></li>
        <li><a class="dropdown-item" href="/category?category=Movies">Movies</a></li>
    <li><a class="dropdown-item" href="/category?category=Artificial Intelligence">Artificial Intelligence</a></li>
  </ul>
        </li>
       <a href="/uploads" ><button class=" btn fw-bolder" style="color: #FF8000;">Create blog</button></a>
      
      </ul>
      <div class="d-flex flex-column">
        <button class="btn"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="/uploads/{{userDetails.profilepic}}" onerror="this.src='/assets/profile.jfif'"  alt="" height="60px" width='60px' style="border-radius:30px 30px;"></button>

 <h6 id="editname" style="color: #FF8000;cursor:pointer;" class=" text-uppercase" onclick="editname()">{{userDetails.name}}</h6>


 <div class="position-absolute top-0 end-0 profileview" id="newprofile">
 <div class="alert alert-warning alert-dismissible fade show p-5 d-flex flex-column justify-content-center align-items-center" role="alert">
 
  <img  src="/uploads/{{userDetails.profilepic}}" onerror="this.src='/assets/profile.jfif'"  alt="" height="60px" width='60px' style="border-radius:30px 30px;" alt="John" style="width:100%">
  <h3 id="oldname">{{userDetails.name}}<i class="fa-solid fa-pen-to-square ms-2" style="color: #ff8000;" onclick="changename('{{userDetails._id}}')"></i></h3>
  <input type="text" id="fname" class="my-3 form-control">
  <p class="title">Email Id: {{userDetails.email}}</p>
  <p>Mobile Number: {{userDetails.mobileno}}</p>
  <div class="d-flex">
  <a href="#"><i class="fa fa-dribbble mx-3"  style="color: #ff8000;"></i></a>
  <a href="#"><i class="fa fa-twitter mx-3"  style="color: #ff8000;"></i></a>
  <a href="#"><i class="fa fa-linkedin mx-3"  style="color: #ff8000;"></i></a>
  <a href="#"><i class="fa fa-facebook mx-3"  style="color: #ff8000;"></i></a>
  </div>
  <p><button class="my-3">Contact</button></p>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


 </div> 
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" style="height:70vh;">

  <div class="offcanvas-header ">
    
    <h6  id="offcanvasTopLabel" class="text-center"> Edit profile image</h6>

    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
     <div class="d-flex center">
  <form class="form-input" action="/editprofile?id={{userDetails._id}}" method="post" enctype="multipart/form-data">
<div class="preview ">
   <img id="file-ip-1-preview">
 </div>
<label for="file-ip-1">select file</label>
 <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);" name="profileimage">
  <button type="submit" class="btn my-3 uploadclass w-100">upload</button>
 </form>

     </div> 
  </div>
</div>
        

      </div>
       <button class="btn fw-bolder" onclick="logout()" style="color: #FF8000;">Log Out</button>
    </div>
  
  </div>


</nav>
</header>




  <section>


    <div class="container-fluid" style=" background-color:#FF8000;">

      <div class="row" >
          
        <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center mt-5">
          <a href="/blog" style="text-decoration:none;"><img class="img-fluid" src="assets/new.png" alt="" width="400" height="200">
           <br><small class="text-dark">click to see daily blogs</small></a>
         
          <img  class="img-fluid" src="assets/pencil.png" alt="" width="500px">

          <h3 class="text-light text-center">Publish your passions, your way</h3>
          <p class="text-light text-center">Create a unique and beautiful blog easily.</p>
          <div class=" d-flex flex-column justify-content-center align-items-center  m-2">
            <a href="/uploads" ><button class=" mb-3 btn btn-light fw-bolder mt-3"
                style="color:#FF8000">Create your blog</button></a>
                <img class="img-fluid" src="assets/blog-1.jpg" alt="" width="300px">
                </div>

        </div>

        <div class="col-12 col-md-6 mt-5">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <img  class="img-fluid " src="assets/new.png" alt="" width="150px">
            
          
          
          <h4 class="text-light m-5 lh-2 text-center"><span>Want to <img src="assets/share.png" alt="" width="100px"></span> your voice and experiences?  You can write about your own experiences and challenges. This is the right place. </h4> 
           
           
            
            
            <div class="p-4 d-flex flex-column">
              <div><img  class="img-fluid" src="assets/PIC1.png" alt="" width="200px">
              <img  class="img-fluid" src="assets/pic7.png" alt="" width="200px">
              <!--<img  class="img-fluid" src="assets/PIC2.png" alt="" width="100px">-->
              </div>
              <div><img  class="img-fluid" src="assets/pic5.png" alt="" width="200px">
              <!--<img  class="img-fluid" src="assets/pic4.png" alt="" width="100px">--></div>
              
             <!-- <img  class="img-fluid" src="assets/pic6.png" alt="" width="100px"></div>
              <img  class="img-fluid" src="assets/PIC3.png" alt="" width="100px">-->
           

          </div>
        
        </div>
      </div>
      <div class="row my-5">
        <div class=" col-12 col-lg-4  d-flex justify-content-center align-items-center"
          style="background-image:url('assets/sli1.jpg');background-position:center;background-size:cover;height:50vh;">
          <h4 class="text-light">CREATE YOUR BLOG</h4>
        </div>
        <div class=" col-12 col-lg-4  d-flex justify-content-center align-items-center"
          style="background-image:url('assets/sli2.jpg');background-position:center;background-size:cover;height:50vh;">
          <h4 class="text-light">DESIGN YOUR BLOG</h4>
        </div>
        <div class=" col-12 col-lg-4  d-flex justify-content-center align-items-center"
          style="background-image:url('assets/sli3.jpg');background-position:center;background-size:cover;height:50vh;">
          <h4 class="text-light">UPLOAD YOUR BLOG</h4>
        </div>
      </div>
      <div class="row  " >
        <div class=" text-light col-12 p-5 d-flex flex-column justify-content-center align-items-center" style="height:400px;">
          <h3 class="">Choose the perfect design</h3>
          <p class="lh-2 text-light fw-bolder">Create a beautiful blog that fits your Choose from a selection of
            <br>easy-to-use templates –
            all with flexible layouts and hundreds of <br>background images – or design something new
          </p>
        </div>
      </div>
    </div>
    </div>
  </section>








  </div>
  </div>
  <div class="container">
  <div  class=" col-md-6">
    <h6 class="text-center mt-5 "></h6>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active text-dark fw-light" aria-current="page" href="#"><small></small></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-dark fw-light" href="#"><small>Self Improvement</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark fw-light" href="#"><small>Writing</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark fw-light fw-light" href="#"><small>Relationships</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark fw-light" href="#"><small>Machine Learning</small></a>
  </li>
     <li class="nav-item">
    <a class="nav-link text-dark fw-light" href="#"><small>Programming</small></a>
  </li> 
  <li class="nav-item">
    <a class="nav-link text-dark fw-light" href="#"><small>Data Science</small></a>
  </li>   
  <li class="nav-item">
    <a class="nav-link text-dark fw-light" href="#"><small>See more topics</small></a>
  </li>                                                               
</ul>
<form class="my-5">
  <div class="mb-3">
    <h3>Subsribe to Daily Blogs</h3>
    <label for="email" class="form-label" >Email address</label>
    <input type="email" class="form-control" id="email" >
    <div  class="form-text">We'll never share your email with anyone else.</div>
  </div>
  
  
  <button type="submit" class="btn btn-primary">Subscribe</button>
</form>
  </div>
</div>

<div class="container-fluid" style="background-color:#388D80;">
  <div class="row d-flex  justify-content-center align-items-center">
    <div class="col-8 p-5 m-5 d-flex  justify-content-center align-items-center" >
      <div><img class="image-fluid w-75" src="assets/money.jpg" alt=""></div>
    <div> <h3 class="text-light"> Earn money</h3>
<p class="text-light lh-2">Get paid for your hard work. Google AdSense can automatically display relevant targeted ads on your blog so that you can earn income by posting about your passion.
</p>  </div> 
 </div>
  </div>
</div>
<div class="container-fluid" style="background-color:#577783;">
  <div class="row d-flex  justify-content-center align-items-center">
    <div class="col-8 p-5 m-5 d-flex  justify-content-center align-items-center" >
      <div class="d-flex"><img class="image-fluid w-50" src="assets/family1.png" alt="">
      <img class="image-fluid w-50" src="assets/family2.png" alt="">
      </div>
    <div> <h3 class="text-light"> Hang onto your memories</h3>
<p class="text-light lh-2">
Save the moments that matter. Blogger lets you safely store thousands of posts, photos, and more with Google.

</p>  </div> 
 </div>
  </div>
</div>

<div class="container-fluid" style="background-color:#BC382E;background-image:url('assets/map2.png');">
  <div class="row d-flex  justify-content-center align-items-center">
    <div class="col-6 p-5 m-5 d-flex flex-column justify-content-center align-items-center" >
     <img class="image-fluid w-50" src="assets/join.png" alt="">
      
    
     <h3 class="text-light my-5"> Join millions of others</h3>
<p class="text-light text-center lh-2">
 
Whether sharing your expertise, breaking news, or whatever’s on your mind, you’re in good company on Blogger. Sign up to discover why millions of people have published their passions here.

</p>  
 </div>
  </div>
</div>
<div class="container-fluid" style="background-color:#FF8000;">
  <div class="row d-flex  justify-content-center align-items-center">
    <div class="col-6 p-5 m-5 d-flex flex-column justify-content-center align-items-center" >
      <img class="image-fluid w-50" src="assets/audience.jpg" alt="">
     <h3 class="text-light my-5">Know your audience</h3>
<p class="text-light lh-2 text-center">
Find out which posts are a hit with Blogger’s built-in analytics. You’ll see where your audience is coming from and what they’re interested in. You can even connect your blog directly to Google Analytics for a more detailed look.

GraphsInfo map
</p>  
<a href="/uploads" ><button class=" mb-5 btn btn-light fw-bolder mt-5"
                style="color:#FF8000">Create your blog</button></a> 
</div> 
 </div>
  </div>
</div>


 
<div class="container-fluid" style="background-color:#1D2B34;">
  <div class="row">
    
    <div class="col">
<ul class="nav flex-column mb-5">
 

<h4 class="text-light mx-5 mt-5"> Help</h4>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Help Center</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Help Forum</a>
  </li>
   <li class="nav-item">
    <a class="nav-link text-light" href="#"> Video Tutorials</a>
  </li>

</ul>
    </div>
     <div class="col">
<ul class="nav flex-column mb-5">
 

<h4 class="text-light mx-5 mt-5"> Community</h4>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Help Center</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Help Forum</a>
  </li>
   <li class="nav-item">
    <a class="nav-link text-light" href="#"> Video Tutorials</a>
  </li>

</ul>
    </div>
    <div class="col">
<ul class="nav flex-column mb-5">
 

<h4 class="text-light mx-5 mt-5"> Community</h4>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Help Center</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Help Forum</a>
  </li>
   <li class="nav-item">
    <a class="nav-link text-light" href="#"> Video Tutorials</a>
  </li>

</ul>
    </div>
   
   
  </div>
</div>





  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="/user/script/form.js"></script>
</body>

</html>